{% extends "index.html" %} 

{% block content %}

<div class="container">
    <div id="graph-1" >
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript">
            var graphs = {{ graphJSON|safe }};
            Plotly.plot("graph-1",
                graphs[0].data,
                graphs[0].layout || {});
        </script>
    </div>
    <div id="graph-1" class="col-md-4">
        col-md-4
    </div>    
</div>

<div class="row">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
  </div>

<!-- Latest compiled and minified plotly.js JavaScript -->


{% endblock %}